<%- include("partials/header") -%>

<h1>Home</h1>

<p> <%= homeContent %></p>

<% postData.forEach( function(ele) { %>

    <h1> <%= ele.title %> </h1>

    <% var truncString = ele.body.substring(0, 100) + "..."; %>

    <p> 
        <%= truncString %>  
        <a href="/posts/<%= ele.title %>">Read More</a>
    </p>
        
<% }); %>

<%- include("partials/footer") -%>
